.slider {
  position: relative;
  width: 100vw;
  left: 50%;
  margin-left: -50vw;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  height: 40vw;
  margin-top: 20px;
}

/* Track */
.slider-track {
  display: flex;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

/* Each slide */
.slide {
  height: 100%;
}

.slide-img {
  width: 100%;

  object-fit: cover;
}

/* Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2rem;
  color: white;
  background: rgba(0,0,0,0.4);
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
    z-index: 1;
  transition: background 0.3s ease;
}

.arrow:hover {
  background: rgba(0,0,0,0.7);
}

.arrow.left { left: 20px; }
.arrow.right { right: 20px; }

@media (max-width: 768px) {
  .slider {
    height: 30vh;
    aspect-ratio: auto;
     margin-top: 4.2rem;
  }
  .arrow { display: none; }
}
